.main{
    height:700px;
    /* border:2px solid red; */

}
.container1{
    height:350px;
    display:flex;
}
.child1{
width:350px;
height:100%;
/* border:2px solid blue; */

transition-duration: 0.5s;
transition-timing-function: ease;
}
p{
    font-size: 50px;
    padding-left: 30px;
    opacity:0;
    position:absolute;
}
.child1:hover>p{
  opacity:1;
}
.child1:hover{
    background-color: coral;
}
img{
    width:100%;
    height:100%;
    position:relative;
}
.child1:hover>img{
    display:none
}
